{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} - Login {% endblock %}
{% block content %}

<div>
	{% if messages %}
	    <div>
	        {% for message in messages %}
	            {{ message }}
	        {% endfor %}
	    </div>
	{% endif %}
	<form method="POST" action="{% url 'accounts:login' %}">
        <h1>Login</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
  </form>
</div>
{% endblock content %}