{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ block.super }} - Sign Up {% endblock %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<section>      
				<h1 class="entry-title"><span>Sign Up</span></h1><hr>
				<form method="POST" action="{% url 'sign-up' %}" class="form-horizontal" name="signup" id="signup" enctype="multipart/form-data" >
				{%  csrf_token %}      
					<div class="form-group">
						<label class="control-label col-sm-3">{{ form.nickname.label_tag }}<span class="text-danger">*</span></label>
						<div class="col-md-8 col-sm-9">{{ form.nickname }}</div>
					</div>
					<!-- END -->
					<div class="form-group">
						<label class="control-label col-sm-3">{{ form.first_name.label_tag }}<span class="text-danger">*</span></label>
						<div class="col-md-8 col-sm-9">{{ form.first_name }}</div>
					</div>
					<!-- END -->
					<div class="form-group">
						<label class="control-label col-sm-3">{{ form.last_name.label_tag }}<span class="text-danger">*</span></label>
						<div class="col-md-8 col-sm-9">{{ form.last_name }}</div>
					</div>
					<!-- END -->
					<div class="form-group">
						<label class="control-label col-sm-3">{{ form.email.label_tag }} <span class="text-danger">*</span></label>
						<div class="col-md-8 col-sm-9">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								{{ form.email }}
							</div> 
						</div>
					</div>
					<!-- END -->
					<div class="form-group">
						<label class="control-label col-sm-3">{{ form.password1.label_tag }}<span class="text-danger">*</span></label>
						<div class="col-md-5 col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								{{ form.password1 }}
					 		</div>   
						</div>
					</div>
					<!-- END -->
					<div class="form-group">
						<label class="control-label col-sm-3">{{ form.password2.label_tag }}<span class="text-danger">*</span></label>
						<div class="col-md-5 col-sm-8">
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								{{ form.password2 }}
							</div>  
						</div>
					</div>
					<!-- END -->
					<div class="form-group">
						<label class="control-label col-sm-3">{{ form.avatar.label_tag }}<br><small>(optional)</small></label>
						<div class="col-md-5 col-sm-8">
							<div class="input-group"> <span class="input-group-addon" id="file_upload"><i class="glyphicon glyphicon-upload"></i></span>
								<input type="file" name="avatar" id="id_avatar" class="form-control upload" placeholder="" aria-describedby="file_upload">
							</div>
						</div>
					</div>
					<!-- END -->
					<div class="form-group">
						<div class="col-xs-offset-3 col-md-8 col-sm-9">
							<span class="text-muted">
								{% for form in field %} 
									{{ field }}
									{% for error in field.errors %}
										{{ error }}
									{% endfor %}
								{% endfor %}
							</span> 
						</div>
					</div>
					<!-- END -->
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-10">
							<input name="Submit" type="submit" value="Sign Up" class="btn btn-primary">
							<a href="{% url 'index' %}">To back</a>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}



