{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ block.super }} - Sign Up {% endblock %}
{% block content %}

<form method="POST" action="{% url 'sign-up' %}">{%  csrf_token %}
	<table>
		<tr>
			<td>{{ form.nickname.label_tag }}</td>
			<td>{{ form.nickname }}</td>
		</tr>
		<tr>
			<td>{{ form.email.label_tag }}</td>
			<td>{{ form.email }}</td>
		</tr>
		<tr>
			<td>{{ form.first_name.label_tag }}</td>
			<td>{{ form.first_name }}</td>
		</tr>
		<tr>
			<td>{{ form.last_name.label_tag }}</td>
			<td>{{ form.last_name }}</td>
		</tr>
		<tr>
			<td>{{ form.avatar.label_tag }}</td>
			<td><input type="file" name="avatar" id="id_avatar" required class="form-control-file" /></td>
			<!-- <td>{{ form.avatar }}</td> -->
		</tr>
		<tr>
			<td>{{ form.password1.label_tag }}</td>
			<td>{{ form.password1 }}</td>
		</tr>
		<tr>
			<td>{{ form.password2.label_tag }}</td>
			<td>{{ form.password2 }}</td>
		</tr>
	</table>
	<input type="submit" value="Sign up" />
	<a href="{% url 'index' %}">To back</a>
</form>

{% endblock content %}



